.container-calc{
    background-color: rgba(23,23,123,0.3);
    height: 620px;
    width: 90%;
    padding : 20px;
}

.example-full-width{
    width: 100%;
}

.calc-button{
    background-color : rgba(65, 158, 65, 0.8) !important;
}